@import "Ginkgo";

$width: 1300px;
$base-width: 1300px; 
$phone-width: 340px;

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: $base-width;

    @media screen and (max-width: 450px ){
        padding: 0 1rem;
        max-width: 100%;
    }
}

.flex-box {
    display: flex;
}

.flex-jc-end {
    justify-content: flex-end;
}

.flex-jc-ct {
    justify-content: center;
}

.box-w-40 {
    width: 40%;
}

.box-w-60 {
    width: 60%;
}