
@import "Ginkgo";

$btn_b: rgba(15, 131, 212, 1.00); // btn中文字顏色
$blue: rgba(0, 142, 216, 1.00); // 主要藍色
$orange:rgba(255, 121, 2, 1.00); // 橘色
$deepGray: rgba(58, 58, 58, 1.00); // 標題黑色（深灰）
$gray: rgba(75, 75, 75, 1.00); // 內文顏色（中灰）
$lightGray: rgba(164, 164, 164, 1.00); // 淡灰色

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
}

.btn_roundW {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white;
  @include border-radius(25px);
  color: $orange;
  font-size: 1.3rem;
  line-height: 45px;
  @include box-shadow(0 1px 4px 0 rgba(0, 35, 11, .1));
}

.btn_social {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid $lightGray;
  color: $gray;
  font-size: .8rem;
  @include border-radius(25px);
  line-height: 23px;
}

.btn_gradual50 { 
  width: 50px; 
  height: 50px; 
  box-sizing: border-box; 
  padding: 3px; 
  border-radius: 50%; 
  background-image: -webkit-linear-gradient(to right,  rgba(0, 131, 210, 1.00) 0%,rgba(0, 178, 210, 1.00) 100%);
  background-image: -moz-linear-gradient(to right,  rgba(0, 131, 210, 1.00) 0%,rgba(0, 178, 210, 1.00) 100%); 
  background-image: linear-gradient(to right,  rgba(0, 131, 210, 1.00) 0%,rgba(0, 178, 210, 1.00) 100%);
 
  &.btn_g35 {
    width: 35px;
    height: 35px;
    line-height: 29px;
  }

  .gradua_centW { 
    width:100%; 
    height:100%; 
    border-radius:50%; 
    background:#fff;
    font-size: 1.5rem;
    color: $btn_b;
  }

  .gradua_centG { 
    width:100%; 
    height:100%; 
    border-radius:50%; 
    background: rgba(245, 245, 245, 1.00);
    font-size: 2.5rem;
    color: $btn_b;
  }  
}

.btn_gradualB {
  display: inline-block;
  padding: 13px 15px;
  @include border-radius(25px);
  font-size: 1.3rem;
  border: 3px solid transparent;
  border-width: 3px;
  border-image: linear-gradient(to right,  rgba(0, 131, 210, 1.00) 0%,rgba(0, 178, 210, 1.00) 100%);
  border-image-slice: 1;
}

.btn_pretty{
  cursor: pointer;
  border: 0;
  padding: 1em 3em;
  font-size: 1.3rem;
  border-radius: 20px;
  position: relative;
  background: transparent;
  z-index: 1;
  color: $blue;
  @include transition(all .3s);

  &:hover, &:focus {
    color: white;

    &:before {
      -webkit-mask: none;
      mask: none;
    }
  }

  &:before {
    z-index: -1;
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border: 3px solid transparent;
    border-radius: 25px;
    background: linear-gradient(to right, rgba(0, 131, 210, 1.00), rgba(0, 178, 210, 1.00)) border-box;
    mask:
      radial-gradient(circle at bottom left ,transparent 20px,#fff 3px) 
        top right/23px 23px,
      radial-gradient(circle at top right   ,transparent 20px,#fff 3px) 
        bottom left /23px 23px,
      radial-gradient(circle at top left    ,transparent 20px,#fff 3px) 
        bottom right/23px 23px,
      radial-gradient(circle at bottom right,transparent 20px,#fff 3px) 
        top left /23px 23px,
      linear-gradient(to bottom,#fff 3px,transparent 3px),
      linear-gradient(to top   ,#fff 3px,transparent 3px),
      linear-gradient(to right ,#fff 3px,transparent 3px),
      linear-gradient(to left  ,#fff 3px,transparent 3px);
    mask-repeat:no-repeat;
  
  -webkit-mask:
      radial-gradient(circle at bottom left ,transparent 20px,#fff 3px) 
        top right/23px 23px,
      radial-gradient(circle at top right   ,transparent 20px,#fff 3px) 
        bottom left /23px 23px,
      radial-gradient(circle at top left    ,transparent 20px,#fff 3px) 
        bottom right/23px 23px,
      radial-gradient(circle at bottom right,transparent 20px,#fff 3px) 
        top left /23px 23px,
      linear-gradient(to bottom,#fff 3px,transparent 3px),
      linear-gradient(to top   ,#fff 3px,transparent 3px),
      linear-gradient(to right ,#fff 3px,transparent 3px),
      linear-gradient(to left  ,#fff 3px,transparent 3px);
    -webkit-mask-repeat:no-repeat;
  }
}