@import "Ginkgo";

// T start
.boxs_no_w {
  display: inline-block;
}

// 用到 login
.pR75 {
  padding-right: 5.5rem;
}

// 用到 經銷商登入
.mD15 {
  margin-bottom: 15px;
}
// 用到 經銷商登入
.mL15 {
  margin-left: 15px;
}
// T end

.m_centbox {
  @include range-width(0, 450px) {
    margin: 0 auto;
    width: auto !important;
  }
}

.order_left {
  float: left;
}

.order_right {
  float: right;
}


.mRL15 {
  margin: 0 15px;
}

.mR15 {
  margin-right: 15px;
}

.mR10 {
  margin-right: 10px;
}

.mL17 {
  margin-left: 17px;
}


.mT15 {
  margin-top: 15px;
}

.mT40 {
  margin-top: 40px;

  @include range-width(0, 769px) {
    margin-top: 5px;
  }

}

.mT25 {
  margin-top: 25px;
}

.mD25 {
  margin-bottom: 25px;

  @include range-width(0, 1025px) {
    margin-bottom: 15px;
    margin-top: 20px;
  }
}

.m_mT70 {
  @include range-width(0, 450px) {
    margin-top: 5.3rem
  }
}

.m_mD30 {
  @include range-width(0, 450px) {
    margin-bottom: 2.3rem;
  }
}

.m_mT15 {
  @include range-width(0, 450px) {
    margin-top: 15px;
  }
}

.m_mTD20 {
  @include range-width(0, 1025px) {
    margin: 2rem 0;
  }
}

.mD35 {
  margin-bottom: 35px;

  @include range-width(0, 450px) {
    margin-bottom: 25px;
  }
}

.mD30 {
  margin-bottom: 30px;
}

.mT_5 {
  margin-top: -5px;
}

.mTD3040 {
  margin: 2.3rem 0 3rem 0;

  @include range-width(0, 450px) {
    margin: 1.3rem 0 2rem 0;
  }
}

.mTD10 {
  margin: 10px 0;

  @include range-width(0, 450px) {
    margin: 40px 0 10px 0;
  }
}