
@import "_/_init";
@import "_/_public";
@import "_/_color";


.text_left {
  text-align: left;
}
.text_cent {
  text-align: center;
}


// 漸層01
.color-gradient01 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
  background: rgba(0, 131, 210, 1.00); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(0, 131, 210, 1.00) 0%, rgba(0, 178, 210, 1.00) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0, 131, 210, 1.00) 0%,rgba(0, 178, 210, 1.00) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0, 131, 210, 1.00) 0%,rgba(0, 178, 210, 1.00) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 131, 210, 1.00)', endColorstr='rgba(0, 178, 210, 1.00)',GradientType=1 ); /* IE6-9 */
}


h3, h2 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

i {
  display: inline-block;
  font-style: normal;
}

// 13pt
.type13_W {
  font-size: 1rem;
  color: white;
}

.type13_lG {
  font-size: 1rem;
  color: $lightGray;
}



// 14pt
.type14_B {
  font-size: 1.1rem;
  color: $blue;
}

.type14_G {
  font-size: 1.1rem;
  color: $gray;
}

.type14_dG {
  font-size: 1.1rem;
  color: $deepGray;
}

.bold_type14_lG {
  font-size: 1.1rem;
  color: $lightGray;
  font-weight: bolder;
}



// 16pt
.type16_B {
  font-size: 1.2rem;
  color: $blue;
}

.type16_G {
  font-size: 1.2rem;
  color: $gray;
}

.type16_dG {
  font-size: 1.2rem;
  color: $deepGray;
}

.type16_W {
  font-size: 1.2rem;
  color: white;
}

.type16_lG {
  font-size: 1.2rem;
  color: $lightGray;
}

.bold_type16_lG {
  font-size: 1.2rem;
  color: $lightGray;
  font-weight: bolder;
}

.type16_h23 {
  line-height: 1.8rem;
}


// 18pt
.bold_type18_W {
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
}

.bold_type18_B {
  font-size: 1.5rem;
  color: $blue;
  font-weight: bolder;
}

.bold_type18_O {
  font-size: 1.5rem;
  color: $orange;
  font-weight: bolder;
}



// 20pt
.bold_type20_B {
  font-size: 1.6rem;
  color: $blue;
  font-weight: bolder;
}

.type20_dG {
  font-size: 1.6rem;
  color: $deepGray;
}

.num_type20_dG {
  display: inline-block;
  line-height: 35px;
  font-size: 1.6rem;
  color: $deepGray;
}



// 50pt
.bold_type50_dG {
  font-size: 4rem;
  color: $deepGray;
  font-weight: bolder;
}

.bold_type50_B {
  font-size: 4rem;
  color: $blue;
  font-weight: bolder;
}

.bold_type50_W {
  font-size: 4rem;
  color: white;
  font-weight: bolder;
}



// 60pt
.bold_type60_dG {
  font-size: 5rem;
  color: $deepGray;
  font-weight: bolder;
}







