.container { position: relative; margin: 0 auto; width: 100%; max-width: 1300px; }
.container .big_banner { display: inline-block; width: 100%; position: absolute; top: 0; left: 0; z-index: 777; }
@media screen and (max-width: 1024px) and (min-width: 0) { .container .big_banner { padding: 0 1.5rem; } }
@media screen and (max-width: 1299px) { .container { padding: 0 1.5rem; max-width: 100%; } }

.row { display: inline-block; width: 100%; }

.flex-box { display: flex; }

.color-gradient01 { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */ background: #0083d2; /* Old browsers */ background: -moz-linear-gradient(left, #0083d2 0%, #00b2d2 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #0083d2 0%, #00b2d2 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #0083d2 0%, #00b2d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 131, 210, 1.00)', endColorstr='rgba(0, 178, 210, 1.00)',GradientType=1 ); /* IE6-9 */ }

.test-blue { background-color: #008ed8; }

.test-orange { background-color: #ff7902; }

.test-deepGray { background-color: #3a3a3a; }

.test-gray { background-color: #4b4b4b; }

.test-lightGray { background-color: #a4a4a4; }

.chat { display: none; position: fixed; right: 1rem; bottom: 1rem; z-index: 2; }
@media screen and (max-width: 1024px) and (min-width: 0) { .chat { right: -.5rem; } }
.chat .chat-1, .chat .chat-2 { position: relative; transition: all .5s; }
.chat .chat-1 .chat-icon, .chat .chat-2 .chat-icon { position: relative; width: 50px; height: 50px; border-radius: 50%; color: white; line-height: 50px; background-color: #ff7902; font-size: 3rem; }
.chat .chat-1.chat-1 .chat-icon, .chat .chat-2.chat-1 .chat-icon { background-color: #ff7902; font-size: 3rem; }
.chat .chat-1.chat-1.show, .chat .chat-2.chat-1.show { transform: translateX(-100px); transition: all .5s; }
.chat .chat-1.chat-1.show .chat-text, .chat .chat-2.chat-1.show .chat-text { opacity: 1; width: 150px; transition-delay: 1.5s; transition: all 1s; }
.chat .chat-1.chat-1 .chat-text, .chat .chat-2.chat-1 .chat-text { position: absolute; top: 5px; left: 0; width: 0; height: 40px; opacity: 0; line-height: 40px; border: 1px solid #ff7902; font-size: 1.2rem; border-radius: 50px; color: #ff7902; background-color: white; z-index: -1; cursor: pointer; }
.chat .chat-1.chat-2, .chat .chat-2.chat-2 { margin-top: 1rem; }
.chat .chat-1.chat-2 .chat-icon, .chat .chat-2.chat-2 .chat-icon { background-color: #008ed8; font-size: 2rem; }
.chat .chat-1.chat-2.show, .chat .chat-2.chat-2.show { transform: translateX(-100px); transition: all .5s; }
.chat .chat-1.chat-2.show .chat-text, .chat .chat-2.chat-2.show .chat-text { top: 5; width: 170px; height: 40px; padding-left: 1.5rem; opacity: 1; font-size: 1.1rem; transition-delay: 1.5s; transition: all 1s; }
.chat .chat-1.chat-2 .chat-text, .chat .chat-2.chat-2 .chat-text { position: absolute; top: 5px; left: 0; width: 0; height: 40px; opacity: 0; border: 2px solid #008ed8; line-height: 40px; font-size: 0; border-radius: 50px; background-color: white; color: #008ed8; z-index: -1; }
