@charset "UTF-8";
.container { position: relative; margin: 0 auto; width: 100%; max-width: 1300px; }
@media screen and (max-width: 450px) { .container { padding: 0 1rem; max-width: 100%; } }

.flex-box { display: flex; }

.flex-jc-end { justify-content: flex-end; }

.flex-jc-ct { justify-content: center; }

.box-w-40 { width: 40%; }

.box-w-60 { width: 60%; }

.color-gradient01 { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */ background: #0083d2; /* Old browsers */ background: -moz-linear-gradient(left, #0083d2 0%, #00b2d2 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #0083d2 0%, #00b2d2 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #0083d2 0%, #00b2d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 131, 210, 1.00)', endColorstr='rgba(0, 178, 210, 1.00)',GradientType=1 ); /* IE6-9 */ }

.test-blue { background-color: #008ed8; }

.test-orange { background-color: #ff7902; }

.test-deepGray { background-color: #3a3a3a; }

.test-gray { background-color: #4b4b4b; }

.test-lightGray { background-color: #a4a4a4; }

*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

html { font-size: 13px; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: 13px; text-align: center; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif, "微軟正黑體"; }

.text_left { text-align: left; }

.text_cent { text-align: center; }

.color-gradient01 { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */ background: #0083d2; /* Old browsers */ background: -moz-linear-gradient(left, #0083d2 0%, #00b2d2 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #0083d2 0%, #00b2d2 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #0083d2 0%, #00b2d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 131, 210, 1.00)', endColorstr='rgba(0, 178, 210, 1.00)',GradientType=1 ); /* IE6-9 */ }

h3 { margin: 0; }

.type13_W { font-size: 1rem; color: white; }

.type13_lG { font-size: 1rem; color: #a4a4a4; }

.type14_B { font-size: 1.1rem; color: #008ed8; }

.type14_G { font-size: 1.1rem; color: #4b4b4b; }

.type14_dG { font-size: 1.1rem; color: #3a3a3a; }

.bold_type14_lG { font-size: 1.1rem; color: #a4a4a4; font-weight: bolder; }

.type16_B { font-size: 1.2rem; color: #008ed8; }

.type16_G { font-size: 1.2rem; color: #4b4b4b; }

.type16_dG { font-size: 1.2rem; color: #3a3a3a; }

.type16_W { font-size: 1.2rem; color: white; }

.type16_lG { font-size: 1.2rem; color: #a4a4a4; }

.bold_type16_lG { font-size: 1.2rem; color: #a4a4a4; font-weight: bolder; }

.bold_type18_W { font-size: 1.5rem; color: white; font-weight: bolder; }

.bold_type18_B { font-size: 1.5rem; color: #008ed8; font-weight: bolder; }

.bold_type18_O { font-size: 1.5rem; color: #ff7902; font-weight: bolder; }

.bold_type20_B { font-size: 1.6rem; color: #008ed8; font-weight: bolder; }

.type20_dG { font-weight: 1.6rem; color: #3a3a3a; }

.bold_type50_dG { font-size: 4rem; color: #3a3a3a; font-weight: bolder; }

.bold_type50_B { font-size: 4rem; color: #008ed8; font-weight: bolder; }

.bold_type50_W { font-size: 4rem; color: white; font-weight: bolder; }

.bold_type60_dG { font-size: 5rem; color: #3a3a3a; font-weight: bolder; }

a { display: inline-block; cursor: pointer; text-decoration: none; }

button { display: inline-block; outline: 0; border: 0; }

.btn_roundW { display: inline-block; width: 50px; height: 50px; background-color: white; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; color: #ff7902; font-size: 1.3rem; line-height: 45px; -moz-box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.1); -webkit-box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.1); box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.1); }

.btn_social { display: inline-block; width: 25px; height: 25px; border: 1px solid #a4a4a4; color: #4b4b4b; font-size: .8rem; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; line-height: 23px; }

.btn_gradual50 { width: 50px; height: 50px; box-sizing: border-box; padding: 3px; border-radius: 50%; background-image: -webkit-linear-gradient(to right, #0083d2 0%, #00b2d2 100%); background-image: -moz-linear-gradient(to right, #0083d2 0%, #00b2d2 100%); background-image: linear-gradient(to right, #0083d2 0%, #00b2d2 100%); }
.btn_gradual50.btn_g35 { width: 35px; height: 35px; line-height: 29px; }
.btn_gradual50 .gradua_centW { width: 100%; height: 100%; border-radius: 50%; background: #fff; font-size: 1.5rem; color: #0f83d4; }
.btn_gradual50 .gradua_centG { width: 100%; height: 100%; border-radius: 50%; background: whitesmoke; font-size: 2.5rem; color: #0f83d4; }

.btn_gradualB { display: inline-block; padding: 13px 15px; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; font-size: 1.3rem; border: 3px solid transparent; border-width: 3px; border-image: linear-gradient(to right, #0083d2 0%, #00b2d2 100%); border-image-slice: 1; }

.btn_pretty { cursor: pointer; border: 0; padding: 1em 3em; font-size: 1.3rem; border-radius: 20px; position: relative; background: transparent; z-index: 1; color: #008ed8; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn_pretty:hover, .btn_pretty:focus { color: white; }
.btn_pretty:hover:before, .btn_pretty:focus:before { -webkit-mask: none; mask: none; }
.btn_pretty:before { z-index: -1; content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 3px solid transparent; border-radius: 25px; background: linear-gradient(to right, #0083d2, #00b2d2) border-box; mask: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0) 20px, #ffffff 3px) top right/23px 23px, radial-gradient(circle at top right, rgba(0, 0, 0, 0) 20px, #ffffff 3px) bottom left/23px 23px, radial-gradient(circle at top left, rgba(0, 0, 0, 0) 20px, #ffffff 3px) bottom right/23px 23px, radial-gradient(circle at bottom right, rgba(0, 0, 0, 0) 20px, #ffffff 3px) top left/23px 23px, linear-gradient(to bottom, #ffffff 3px, rgba(0, 0, 0, 0) 3px), linear-gradient(to top, #ffffff 3px, rgba(0, 0, 0, 0) 3px), linear-gradient(to right, #ffffff 3px, rgba(0, 0, 0, 0) 3px), linear-gradient(to left, #ffffff 3px, rgba(0, 0, 0, 0) 3px); mask-repeat: no-repeat; -webkit-mask: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0) 20px, #ffffff 3px) top right/23px 23px, radial-gradient(circle at top right, rgba(0, 0, 0, 0) 20px, #ffffff 3px) bottom left/23px 23px, radial-gradient(circle at top left, rgba(0, 0, 0, 0) 20px, #ffffff 3px) bottom right/23px 23px, radial-gradient(circle at bottom right, rgba(0, 0, 0, 0) 20px, #ffffff 3px) top left/23px 23px, linear-gradient(to bottom, #ffffff 3px, rgba(0, 0, 0, 0) 3px), linear-gradient(to top, #ffffff 3px, rgba(0, 0, 0, 0) 3px), linear-gradient(to right, #ffffff 3px, rgba(0, 0, 0, 0) 3px), linear-gradient(to left, #ffffff 3px, rgba(0, 0, 0, 0) 3px); -webkit-mask-repeat: no-repeat; }

.mR15 { margin-right: 15px; }

.mR10 { margin-right: 10px; }

.mT40 { margin-top: 40px; }

.mT25 { margin-top: 25px; }

.mD25 { margin-bottom: 25px; }

header { position: absolute; top: 0; left: 0; z-index: 3; width: 100%; }
@media screen and (max-width: 450px) { header { position: fixed; background-color: white; } }
header .header-left { flex-basis: 200px; }
@media screen and (max-width: 450px) { header .header-left { display: flex; justify-content: space-around; align-items: center; flex-basis: 100%; } }
header .header-left .logo .logo-href { display: inline-block; background-image: url(../img/all_logo.png); width: 180px; height: 41px; text-decoration: none; text-indent: -9999px; }
@media screen and (max-width: 450px) { header .header-left .logo { flex: 1; margin: 1rem; } }
header .header-left #m-menu { display: none; }
@media screen and (max-width: 450px) { header .header-left #m-menu { flex: 1; display: block; font-size: 2rem; text-align: left; } }
header .header-left #m-action { display: none; }
@media screen and (max-width: 450px) { header .header-left #m-action { flex: 1; display: block; font-size: 1.5rem; text-align: right; }
  header .header-left #m-action a { text-decoration: none; color: #3a3a3a; } }
header .header-right { flex: 1; }
@media screen and (max-width: 450px) { header .header-right { display: none; } }
header .header-right #nav { flex: 2; display: flex; justify-content: center; }
header .header-right #nav .menu { display: flex; align-items: center; position: relative; padding: 0; background-color: white; border-radius: 50px; list-style-type: none; }
header .header-right #nav .menu .menu-item { margin: 0 5px; padding: 1.5rem 3rem; font-size: 1.2rem; cursor: pointer; }
header .header-right #nav .menu .menu-item .icon-chevron-down { color: #ff7902; }
header .header-right #nav .menu .menu-item a { text-decoration: none; }
header .header-right #nav .menu .menu-item:hover { color: #008ed8; }
header .header-right #nav .menu .menu-item:hover a { color: #008ed8; }
header .header-right #nav .menu .menu-item:hover .dropdown-menu { display: block; }
header .header-right #nav .menu .menu-item .dropdown-menu { display: none; width: 100%; position: absolute; top: 52px; left: 0; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out { position: relative; margin-top: 2rem; width: 100%; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out:before, header .header-right #nav .menu .menu-item .dropdown-menu .drop-out:after { content: ''; position: absolute; left: calc(50% - (.5rem / 2)); display: block; border-style: solid; border-width: 0 .5rem .8rem .5rem; border-color: transparent; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out:before { top: -.7em; border-bottom-color: white; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out:after { top: -.7em; border-bottom-color: white; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu { display: flex; padding: 0; border-radius: 5px; background-color: white; list-style-type: none; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item { flex: 1; padding: 1.5rem; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item, header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item .sub-menu-item-link, header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item .icon-chevron-down { color: #3a3a3a; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item:hover { background-color: #f7f7f7; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item:hover, header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item:hover .sub-menu-item-link, header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item:hover .icon-chevron-down { color: #008ed8; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item:hover .dropdown-sub-menu { display: block; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item .dropdown-sub-menu { display: none; width: 100%; position: absolute; top: 52px; left: 0; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item .dropdown-sub-menu ul { display: flex; padding: 0; border-radius: 5px; background-color: white; list-style-type: none; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item .dropdown-sub-menu ul li { flex: 1; padding: 1.5rem; background-color: #f7f7f7; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item .dropdown-sub-menu ul li a { color: #3a3a3a; }
header .header-right #nav .menu .menu-item .dropdown-menu .drop-out .sub-menu .sub-menu-item .dropdown-sub-menu ul li:hover a { color: #008ed8; }
@media screen and (max-width: 450px) { header .header-right .action { display: none; } }
header .header-right .action ul { display: flex; list-style: none; justify-content: space-between; padding: 0; }
header .header-right .action ul li { margin: 0 20px; }
