@import "_/_block";
@import "_/_color";

.chat {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 2;

    @include range-width(0, 1025px) { 
        right: -.5rem;
    }

    .chat-1, .chat-2 {
        position: relative;
        transition: all .5s;

        .chat-icon {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color:white; 
            line-height: 50px;
            background-color: $orange;
            font-size: 3rem;
        }

        &.chat-1 {

            .chat-icon {
                background-color: $orange;
                font-size: 3rem;
            }

            &.show {
                transform: translateX(-100px);
                transition: all .5s;
                .chat-text {
                    
                    opacity: 1;
                    width: 150px;
                    transition-delay: 1.5s;
                    transition: all 1s;
                }
            }

            .chat-text {
                position: absolute;
                top: 5px;
                left: 0;
                width: 0;
                height: 40px;
                opacity: 0;
                line-height: 40px;
                border: 1px solid $orange;
                font-size: 1.2rem;
                border-radius: 50px;
                color: $orange;
                background-color: white;
                z-index: -1;
                cursor: pointer;
            }
        }

        &.chat-2 {
            margin-top: 1rem;
            

            .chat-icon {
                background-color: $blue;
                font-size: 2rem;
            }

            &.show {
                transform: translateX(-100px);
                transition: all .5s;

                .chat-text {
                    top: 5;
                    width: 170px;
                    height: 40px;
                    padding-left: 1.5rem;
                    opacity: 1;
                    font-size: 1.1rem;
                    transition-delay: 1.5s;
                    transition: all 1s;
                }
            }

            .chat-text {
                position: absolute;
                top: 5px;
                left: 0;
                width: 0;
                height: 40px;
                opacity: 0;
                border: 2px solid $blue;
                line-height: 40px;
                font-size: 0;
                border-radius: 50px;
                background-color: white;
                color: $blue;
                z-index: -1;
            }
        }
    }
}