@import "_/_block";
@import "_/_text";
@import "_/_color";

footer {
    border-top: 1px solid rgba(225, 225, 225, 1.00);

    .footer-top {
        display: flex;
        justify-content: space-between;
            
        @media screen and (max-width:450px) {
            flex-direction: column;
        }

        .left {

            .f-logo {
                display: none;

                @include range-width(0, 450px) {
                    margin: 1.5rem 0;
                    text-align: left;
                }
            }

            .w-ft-info {
                display: flex;
                @media screen and (max-width:450px) {
                    display: none;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    text-align: left; 

                    &:nth-child(2) {
                        margin: 0 4rem 0 6rem;
                    }

                    a {
                        padding: 0 0 15px 0;
                        text-decoration: none;
                    }
    
                   
                }
            }

            .m-ft-info {
                display: none;

                @media screen and (max-width:450px) {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                }

                ul.info-section {
                    li.info-section-item {
                        padding: 1rem 0;
                        border-bottom: 1px solid rgba(225, 225, 225, 1.00);
                        &.dropdown-menu {
                            position: relative;

                            .icon-plus, .icon-minus {
                                position: absolute;
                                right: 0;
                            }
                        }
                    }
                    

                    .m-ft-dropdown-menu {
                        display: none;
                        position: relative;

                        .m-ft-sub-menu-item {
                            padding: 1rem;
                        }

                        &.show {
                            display: block;
                        }
                    }
                }
            }
            .social-section {
                display: flex;
                margin: 1rem 0 3rem 0;

                a {
                    // padding: 1rem;
                    margin-right: 1rem;
                    border: 1px solid rgba(215, 225, 230, 1.00);
                    border-radius: 50%;
                    color: rgba(156, 156, 156, 1.00);
                    text-decoration: none;
                    
                    cursor: pointer;
                }
            }
        }
        .right {
            text-align: right;

            @media screen and (max-width:450px) {
                display: flex;
                flex-direction: column;
            }

            .mail-section {
                position: relative;
                input[type=email] {
                    
                    display: inline-block;
                    border: solid 1px #ccc;
                    padding: 9px 10px 9px 14px;
                    width: 100%;
                    border-radius: 10em;
                    outline: none;

                    &::placeholder {
                        font-size: 1rem;
                        color: $lightGray;
                    }
                }
                
                form {
                    display: flex;

                    .email-button{
                        position: absolute;
                        right: 0;
                        display: inline-block;
                        // padding: 10px;
                        width: 35px;
                        height: 35px;
                        border: 0;
                        background-color: rgba(164, 164, 164, 1.00);
                        border-radius: 50%;
                        color: rgba(255, 255, 255, 1.00);
                        z-index: 3;
                        outline: none;
                        cursor: pointer;

                        i {
                            display: inline-block;
                            font-size: 2rem;
                            font-style: normal;
                            line-height: 1.8rem;
                        }
                    }
                }
                
            }

            .attest-section {
                margin: 2rem 0 0 0;
                :nth-child(2) {
                    margin: 0 1rem;
                }
            }
        }
    }

    .footer-bottom {
        
        background-color: $blue;
        padding: 2rem 1rem;
        

        .footer-bottom-wrapper {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            text-align: left;

            @media screen and (max-width:450px) {
                flex-direction: column;
                align-items: flex-start;
            }
            
            .language {
                .icon-earth {
                    font-size: 1.3rem;
                    color: white;
                }
                select {
                    background-color: transparent;
                    border: 0;
                    outline: none;
                    color: white;
                    font-size: 1.3rem;
                    margin-top: -2px; 
                }
            }
            .copy-right {
                @media screen and (max-width:450px) {
                margin-top: 1rem;
                }   
            }
        }
       
    }
}