@font-face { font-family: "icon"; src: url('../icon/icomoon/fonts/icomoon.eot?1604648498') format('embedded-opentype'), url('../icon/icomoon/fonts/icomoon.woff?1604648498') format('woff'), url('../icon/icomoon/fonts/icomoon.ttf?1604648498') format('truetype'), url('../icon/icomoon/fonts/icomoon.svg?1604648498') format('svg'); }
*[class^="icon-"]:before, *[class*=" icon-"]:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.icon-Social_blog:before { content: "\e90a"; }

.icon-Social_fb:before { content: "\e90b"; }

.icon-Social_tw:before { content: "\e90c"; }

.icon-Social_u2:before { content: "\e90d"; }

.icon-addcam:before { content: "\e904"; }

.icon-chevron-down:before { content: "\e900"; }

.icon-chevron-left:before { content: "\e901"; }

.icon-chevron-right:before { content: "\e902"; }

.icon-chevron-up:before { content: "\e903"; }

.icon-earth:before { content: "\e905"; }

.icon-logout---anticon:before { content: "\e913"; }

.icon-menu:before { content: "\e906"; }

.icon-minus:before { content: "\e910"; }

.icon-plus:before { content: "\e911"; }

.icon-shopping-cart:before { content: "\e912"; }

.icon-sign_down:before { content: "\e907"; }

.icon-sign_top:before { content: "\e908"; }

.icon-talk:before { content: "\e90e"; }

.icon-user:before { content: "\e90f"; }

.icon-x:before { content: "\e909"; }
