
@import "_/_init";
@import "_/_public";
@import "layout/header";
@import "layout/footer";
@import "_/_color";
@import "_/_text";
@import "_/_block";
@import "_/_link";
@import "_/_space";


.banner{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgba(236, 238, 243, 1.00);

    @media screen and (max-width: 450px) {
        width: 100%;
        height: 100%;
    } 

    // .swiper-container {
        // width: 100%;
        // height: 100%;
        // position: relative;

        .slider {
            .slider-content {
                width: 100%;
                height: 100%;
                position: relative;
    
                .slider-content-img {
                    width: 100vw;
                    height: 100vh;
                    @media screen and (max-width: 450px) {
                        width: 100%;
                        height: 100%;
                    }
                        
                    
                    img {
                        width: 100%;
                        height:  100%;
                        object-fit:cover;
                    }
                }
    
                .slider-content-text {
                    position: absolute;
                    top: 35%;
                    left: 0;
                    width: 100%;
                    
                    .slider-content-text-container {
                        text-align: left;
                    }
    
                    @media screen and (max-width:450px) {
                        top: 15%;
                         
                    }
    
                    h2 {
                        text-align: left;
                        @media screen and (max-width:450px) {
                            font-size: 28px;
                        }
                    }
    
                    .btn {
                        padding: 8px 28px;
                        font-size: 1.3rem;
                        text-align: center;
                        border-radius: 50px;
                        background-color: white;
                        border-color: transparent;
                        
                    }
                }
            }
        }
 
        .progressBar {
            width: 100%;
            position: relative;
            bottom: 12%;

            @media screen and (max-width: 450px ){
                bottom: 0;
            }

            .progressBar-container {
                width: 100%;
                max-width: $base-width;
                margin: 0 auto;

                @media screen and (max-width: 450px ){
                    max-width: 100%;
                }

                .progressBar-items {
                    display: flex;
                    
                    @media screen and (max-width:450px) {
                        // flex-basis: 100%;
                        // flex-wrap: wrap;
                        

                        
                    }
                    .icon-chevron-left, .icon-chevron-right{
                        display: none;

                        @media screen and (max-width:450px) {
                            display: inline-block;
                            position: absolute;
                            top: calc(50% - 1rem);
                            font-size: 2rem;
                            z-index: 999999;
                        } 

                        &.icon-chevron-left {
                            left: 0;
                        }

                        &.icon-chevron-right {
                            right: 0;
                        }
                    }


                    .progressBar-item {
                        // flex: 1;
                        position: relative;
                        width: 100%;
                        justify-content: flex-start;
                        background-color: white;
        
                        @media screen and (max-width:450px) {
                            // flex-basis: 100%;
                            display: none;
                            
                            &.show {
                                display: block;
                                text-align: center;
                            }
                        }
        
                        span.progressBarLine {
                            width: 100%;
                            height: 4px;
                            background-color: rgba(255, 255, 255, 0.4);
                            display: block;
                        }
                            
                        span.progressBarLine .inProgress {
                            background-color: rgba(3, 171, 236, 1.00);
                            width: 0%;
                            height: 4px;
                        }
        
                        .progressBar-item-container {
                            display: flex;
                            margin: 1rem;

                            @media screen and (max-width:450px) {
                                justify-content: center;
                                margin: 1rem; 
                            } 
        
                            &:after {
                                content: "";
                                position: absolute;
                                right: 0;
                                height: 50%;
                                border-right: 1px solid rgba(239, 237, 237, 1.00);
                            }
                        }
        
                        .progressBar-item-text {
                            margin-left: 1rem;
                            text-align: left;
                            align-self: center;
                        }
                    }
                }
            }
            
            
        }
    // }
}

.section1 {
    position: relative;
    background-image: url(../img/bg_cent02.png);
    // background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 540px;

    @media screen and (max-width:450px) {
        // max-height: 360px;
    }

    .container {
        position: relative;

        .section1-text {
            width: 50%;
            height: 540px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
    
            @media screen and (max-width:450px) {
                width: 100%;
                height: auto;
            }
    
            .section1-action {
                margin-top: 4rem;
                
                @media screen and (max-width:450px) {
                    display: flex;
                    margin-top: 2rem;
    
                    a {
                        flex: 1;
                        img {
                            width: auto;
                            height: auto;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
    
                a {
                    &:last-child {
                        margin-left: 2rem
                    }
                }
            }
        }
    
        .section1-img {
            position: relative;
            left: 2rem;
            bottom: 25rem;
            display: flex;
            justify-content: flex-end;
            
    
            @media screen and (max-width:450px) {
                width: 100%;
                left: 0;
                bottom: 0;
                margin-top: 2rem;
            }
    
            img {
                width: auto;
                height: auto;
                // max-width: 100%;
                // max-height: 100%;
                max-width: 939px;
                max-height: 483px;

                
                    @media screen and (max-width:450px) {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }  
            }
        }
    }
    
}

.section2 {
    padding: 8rem 0 6.5rem 0;
    width: 100%;
    background-color: rgba(239, 240, 245, 1.00);

    // .section2-wrapper {
    //     position: relative;
    //     display: flex;
    //     margin: 0 auto;
    //     width: 100%;
    //     max-width: $base-width;
    //     text-align: left;

        @media screen and (max-width:450px) {
            // max-width: $phone-width;
            padding: 1rem 0 2rem 0;
        }

        .section2-text {
            width: 54%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;

            @media screen and (max-width:450px) {
                width: 100%;
            } 
        }
    // }
}

.section3 {
    background-image: url(../img/bg_cent03.png); 
    background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    // background-attachment: fixed;
    background-color: white;
    width: 100%;
    min-height: 480px;
    margin: 6rem 0;

    @media screen and (max-width:450px) {
        background-position: center center;
        background-size: cover;
    }
    

    .container {
        height: 480px;
        
        @media screen and (max-width:450px) {
            height: 100%;
        } 

        .row {
            width: auto;

            &:nth-child(2) {
                margin: 0 3rem;
            }

            @media screen and (max-width:450px) {
                flex: 1;
                
                &:nth-child(2) {
                    margin: 0;
                }
            } 
        }

        .flex-box {
            align-items: center;
            height: 100%;

            @media screen and (max-width:450px) {
                flex-direction: column;
            }

            .section3-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 35%;
    
                @media screen and (max-width:450px) {
                    width: 100%;
                } 
                
            }
        
            .section3-img {
                width: 65%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                @media screen and (max-width:450px) {
                    width: 100%;
                    justify-content: flex-start;
                } 
    
                img {
                    max-width: 176px;
                    max-height: 345px;
    
                    @media screen and (max-width:450px) {
                        width: auto;
                        height: auto;
                        max-width: 110px;
                        max-height: 195px;

                        &:nth-child(2) {
                            margin: 0 1rem;
                        }
                    } 
                }
            }
        }
    }
}

.section4 {
    position: relative;
    // background-image: url(../img/bg_cent04.png); 
    // background-repeat: no-repeat;
    // background-position: right;
    background-color: rgba(245, 245, 245, 1.00);
    width: 100%;
    max-height: 490px;
    margin: 6rem 0;

    @include range-width(0, 450px) {
        margin: 6rem 0 2rem 0;
    }

    .container {

        .flex-box {

            .section4-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 490px;
                width: 30%;
    
                @media screen and (max-width:450px) {
                    width: 100%;
                    height: 100%;
                    justify-content: flex-start;
                }
            }
        
            // .section4-img {
            //     width: 70%;
            //     text-align: right;
            //     // left: 70px;

            //     @media screen and (max-width:450px) {
            //         width: 100%;
            //         bottom: 0;
            //     }
        
            //     img {
            //         width: auto;
            //         height: auto;
            //         // max-width: 880px;
            //         // max-height: 490px;
            //         max-width: 100%;
            //         max-height: 100%;
    
            //         @media screen and (max-width:450px) {
            //             max-width: 100%;
            //             max-height: 100%;
            //         }
            //     }
            // }
        }
    }

    .section4-img {
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;

        @media screen and (max-width:450px) {
            position: relative;
        }  
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.section5 {
    display: inline-block;
    width: 100%;
    position: relative;
   
    width: 100%;
    margin: 0 0 2rem 0;

    .container {


        .section5-text {
            
        }

        .section5-shop {

            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .section5-img {
            
            margin: 3rem 0;
            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .section5-bg {
        display: inline-block;
        width: 100%;
        position: absolute;
        bottom: -3rem;
        left: 0;
        height: 9.2rem;
        background-color: rgba(245, 245, 245, 1.00);
        z-index: -1;
    }
    
}

.section6 {
  
    // background-color: rgba(230, 230, 230, 1.00);
    
    width: 100%;
    margin: 6rem 0;

    .container {
        

        .flex-box {

            @media screen and (max-width:450px) {
           
                flex-direction: column;
            }  
            .section6-text {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 35%;
                text-align: left;

                @media screen and (max-width:450px) {
                    width: 100%;
                    text-align: center;
                }

                .all_boxs {
                    display: flex;
                    // justify-content: center;
                }
               
            }
        
            .section6-img {
                width: 65%;
                
                @media screen and (max-width:450px) {
                    width: 100%;
                }

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    
                }
            }
        }

        
    }

   
}