@import "_/_init";
@import "_/_public";
@import "layout/header";
@import "layout/footer";
@import "layout/chat";
@import "_/_color";
@import "_/_text";
@import "_/_block";
@import "_/_link";
@import "_/_space";


// div垂直擲中
.outer_boxs {
  display:flex;
  align-items:center;
  justify-content:center;
  width: 100%;
  height: calc(100vh - 60px);

  .box995 {
    display: inline-block;
    width: 100%;
    max-width: 995px;
  }

  .box600 {
    display: inline-block;
    width: 100%;
    max-width: 600px;
  }
}

.login_box {
  display: inline-block;
  width: 100%;

  &.l-s-p90 {
    padding-top: 90px;
  }

  &.gray_box {
    @include border-radius(5px);
    background-color: $llGray;
    padding: 35px;
  }
}

.img_logo {
  display: inline-block;
  width: 100%;
  max-width: 240px;
}

.l_Fpw {
  display: inline-block;
  color: $blue;
  cursor: pointer;
  text-decoration: none;
  @include transition(all .3s);
  font-size: 1.2rem;
  
  &:hover {
    text-decoration: underline;
  }
}

.lt_b20 {
  display: inline-block;
  padding: 40px 0 25px 0;
  font-size: 1.5rem;
  color: $deepGray;
  font-weight: bolder;
  text-align: left;
  line-height: 2rem;
  float: left;

  &.l_ftp_t {
    padding: 30px 0 15px 0;
  }
}

.lt_b26 {
  display: inline-block;
  padding: 0 0 35px 0;
  font-size: 2rem;
  color: $deepGray;
  font-weight: bolder;
  float: left;
  line-height: 2rem;
  text-align: left;
}

.la_b20 {
  display: inline-block;
  font-size: 1.5rem;
  color: $orange;
  font-weight: bolder;
  line-height: 2rem;
  cursor: pointer;
  text-decoration: none;
  @include transition(all .3s);

  &:hover, &:active {
    text-decoration: underline;
  }
}

.l_list {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    font-size: 1.2rem;
    color: $gray;
    font-weight: lighter;
    background-image:url(../img/Oval.png);
    background-position:left 8px;
    background-repeat:no-repeat;    
    list-style-type:none;
    padding:5px 0 5px 20px;
    line-height: 1.6rem;
  }
}

.l_input_box {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $mGray;
  margin-bottom: 5px;

  &.no_bo {
    border-bottom: 0;
    margin: 30px 0;
  }
}

.l_input {
  display: inline-block;
  width: 90%;
  background-color: transparent;
  border: 0;
  padding: 10px 3px;
  color: $gray;
  font-size: 1.2rem;
  float: left;
  outline: 0;

  &::placeholder {
    color: $mGray;
  }
}

.l_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  
  &.icon-eye {
    color: $gray2;
    font-size: 1.4rem;
  }
}

// check box
.l_container {
  display: inline-block;
  float: left;
  position: relative;
  padding-left: 35px;
  margin: 0 12px 8px 0;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $gray;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.l_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid $gray2;
}

.l_container {
  // &:hover input ~ .l_checkmark {
  //   background-color: #ccc;
  // }

  input:checked ~ .l_checkmark {
    background-color: #2196F3;
  }
}

.l_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.l_container {
  input:checked ~ .l_checkmark:after {
    display: block;
  }

  .l_checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}






.r_boxs_w {
  display: inline-block;
  width: 100%;
  @include border-radius(5px);
  background-color: white;
  padding: 40px;
}

.r_box2 {
  display: inline-block;
  width: calc(100% / 2 - 30px * 1 / 2);
  float: left;

  &:first-child {
    margin-right: 30px;
  }
}

.r-lp40 {
  padding-left: 40px;
}

.r_box {
  display: inline-block;
  width: 50%;
  float: left;
  margin-top: 30px;

  &:first-child {
    padding-left: 40px;
  }

  &:last-child {
    padding-left: 30px;
  }
}

.r_box1 {
  display: inline-block;
  width: 100%
}

.r_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  float: left;

  &.icon-icon03, &.icon-icon10, &.icon-icon09, &.icon-icon08, &.icon-icon07, 
  &.icon-icon06, &.icon-icon05, &.icon-icon02, &.icon-icon01 {
    color: $deepGray;
    font-size: 1.8rem;
  }
}

.r_text {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 2px 3px 8px 3px;
  color: $mGray;
  font-size: 1.2rem;
  text-align: left;
  line-height: 30px;

  &:before {
    display: inline-block;
    content: '\e91b';
    font-family: icon;
    color: $deepGray;
    font-size: 1.8rem;
    margin-right: 20px;
  }
}

.r_title {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 3rem;
  font-weight: bolder;

  &:before {
    display: inline-block;
    content: '';
    background-image: url(../img/logo_s_w.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: left;
    margin: 5px 15px 0 0;
  }
}

.r_subtitle {
  display: inline-block;
  width: 100%;
  padding: 20px 0 45px 0;
  font-size: 1.2rem;
  color: white;
  line-height: 1.8rem;
}

.r_input {
  display: inline-block;
  width: calc(100% - 40px);
  background-color: transparent;
  margin-left: 10px;
  border: 0;
  padding: 2px 3px 8px 3px;
  color: $gray;
  font-size: 1.2rem;
  float: left;
  outline: 0;
  border-bottom: 1px solid $mGray;

  &::placeholder {
    color: $mGray;
  }

  &.r_input100 {
    width: 100% !important;
  }
}








